In [1]:
def fun1():
    song = input('what song do you want to hear?')
    print(f'you like to hear {song} song')
    
def fun2():
    actor = input('who is your favourite actor?')
    print(f'my favourite actor is {actor}')
    
def main():
    fun1()
    fun2()
    
if __name__ == '__main__':
    main()

what song do you want to hear?gali gali
you like to hear gali gali  song
who is your favourite actor?salman khan
my favourite actor is salman khan

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
names= ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris_df = pd.read_csv('iris_data.csv' )
iris_df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
iris_df.shape

(150, 5)

In [7]:
iris_df.columns = names

In [8]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa