In [2]:
def quadratic(a, b, c):
    p= lambda x:a*x**2 + b*x +c
    return p

f = quadratic(2,3,4)

In [6]:
f(2)

18

In [10]:
x = [2,3,4]
y = list(map(lambda a: a**2,x))
y

[4, 9, 16]

In [28]:
xx = [1, 2, 3, 4, 5, 6]
yy = list(map(lambda k:k%2== 0, xx))
yy

[False, True, False, True, False, True]

In [20]:
xx[False,]

1

In [22]:
d = [
    {'name':'selim', 'profession': 'student', 'age': 23},
    {'name': 'santa', 'profession': 'softwear', 'age': 32},
    {'name': 'sagar', 'profession': 'bidesh', 'age': 33}]
d

[{'name': 'selim', 'profession': 'student', 'age': 23},
 {'name': 'santa', 'profession': 'softwear', 'age': 32},
 {'name': 'sagar', 'profession': 'bidesh', 'age': 33}]

In [25]:
dd = sorted(d, key= lambda j: j['profession'])
dd

[{'name': 'sagar', 'profession': 'bidesh', 'age': 33},
 {'name': 'santa', 'profession': 'softwear', 'age': 32},
 {'name': 'selim', 'profession': 'student', 'age': 23}]

In [39]:
bd = 'amar sonar bangal ami tomay balobashi'
bkd= bd.split()
bbd = bd.split()[bd.split().index('sonar')-1]
bbd

'amar'

In [ ]:
word = lambda c,d : c.split()