In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(dict(time = np.arange(10), value= np.random.randn(10).cumsum()))
df

   time     value
0     0  0.332084
1     1  0.151963
2     2  0.034059
3     3 -0.124737
4     4 -0.584008
5     5 -1.494973
6     6 -2.904679
7     7 -3.211642
8     8 -2.532878
9     9 -2.490002

In [ ]:
dff = pd.DataFrame(dict("2020-01-10",periods=10)

In [10]:
cc = dict(pd.date_range("2020-01-10",periods=10))

TypeError: _generate_range() got an unexpected keyword argument 'time'

In [12]:
l = pd.date_range("2020-02-10", periods=12)
l

DatetimeIndex(['2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21'],
              dtype='datetime64[ns]', freq='D')